<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>adminlogin</servlet-name>
        <servlet-class>Admin_site.AdminLoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storesubjectebook</servlet-name>
        <servlet-class>AdminEbook.Store_Subject_Name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checktableebook</servlet-name>
        <servlet-class>AdminEbook.Ebook_Check_Table</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>storebookdetails</servlet-name>
        <servlet-class>AdminEbook.Store_Ebook_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileupload</servlet-name>
        <servlet-class>AdminEbook.File_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_Ebook_Pdf</servlet-name>
        <servlet-class>AdminEbook.Store_Ebook_Pdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ebook_download</servlet-name>
        <servlet-class>AdminEbook.Ebook_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>AdminEbook.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_New_Repository</servlet-name>
        <servlet-class>AdminCode.Create_New_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_New_Repository_File</servlet-name>
        <servlet-class>AdminCode.Store_New_Repository_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Create_New_File_For_Language</servlet-name>
        <servlet-class>Admin_Tuto.T_Create_New_File_For_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Copy_Content_To_New_File</servlet-name>
        <servlet-class>Admin_Tuto.T_Copy_Content_To_New_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Check_File_Avaliable</servlet-name>
        <servlet-class>Admin_Tuto.T_Check_File_Avaliable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_Repository_For_User</servlet-name>
        <servlet-class>user_site_page.Create_Repository_For_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_File_In_Repository</servlet-name>
        <servlet-class>AdminCode.Upload_File_In_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Upload_File_In_Repository</servlet-name>
        <servlet-class>UserCode.U_Upload_File_In_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Store_New_Language</servlet-name>
        <servlet-class>UserCode.U_Store_New_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Repository</servlet-name>
        <servlet-class>AdminCode.Download_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Copy_Content</servlet-name>
        <servlet-class>Admin_Quiz.Q_Copy_Content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Create_Language_Folder</servlet-name>
        <servlet-class>UserCode.U_Create_Language_Folder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Download_Repository</servlet-name>
        <servlet-class>UserCode.U_Download_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>E_Copy_Content</servlet-name>
        <servlet-class>AdminEbook.E_Copy_Content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Admin_Source_Code</servlet-name>
        <servlet-class>AdminCode.Delete_Admin_Source_Code</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Ebook</servlet-name>
        <servlet-class>AdminEbook.Delete_Ebook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Ebook_Database_Info</servlet-name>
        <servlet-class>AdminEbook.Delete_Ebook_Database_Info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Delete_Tutorial</servlet-name>
        <servlet-class>Admin_Tuto.T_Delete_Tutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Delete_Subject_Topic</servlet-name>
        <servlet-class>Admin_Tuto.T_Delete_Subject_Topic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Delete_Quiz</servlet-name>
        <servlet-class>Admin_Quiz.Q_Delete_Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Delete_All_Quiz</servlet-name>
        <servlet-class>Admin_Quiz.Q_Delete_All_Quiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_Store_Language</servlet-name>
        <servlet-class>AdminVideo.V_Store_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_Create_Language_Folder</servlet-name>
        <servlet-class>AdminVideo.V_Create_Language_Folder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_Video_Upload</servlet-name>
        <servlet-class>AdminVideo.V_Video_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_Variable</servlet-name>
        <servlet-class>UserCode.U_C_New_Language_Add</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Store_New_Repository</servlet-name>
        <servlet-class>UserCode.U_C_Store_New_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Update_Tutorial</servlet-name>
        <servlet-class>Admin_Tuto.T_Update_Tutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>T_Delete_Language</servlet-name>
        <servlet-class>Admin_Tuto.T_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>E_Delete_Language</servlet-name>
        <servlet-class>AdminEbook.E_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Delete_Language</servlet-name>
        <servlet-class>Admin_Quiz.Q_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Delete_Subject_Topic</servlet-name>
        <servlet-class>Admin_Quiz.Q_Delete_Subject_Topic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Store_New_Language</servlet-name>
        <servlet-class>UserCode.U_C_Store_New_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Delete_Repository_File</servlet-name>
        <servlet-class>UserCode.U_C_Delete_Repository_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Delete_Repository</servlet-name>
        <servlet-class>UserCode.U_C_Delete_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_New_Language</servlet-name>
        <servlet-class>AdminCode.Store_New_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_Delete_Video</servlet-name>
        <servlet-class>AdminVideo.V_Delete_Video</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Strore_Language</servlet-name>
        <servlet-class>Admin_Code.C_Strore_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Store_Repository</servlet-name>
        <servlet-class>Admin_Code.C_Store_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Delete_Language</servlet-name>
        <servlet-class>Admin_Code.C_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Delete_Repository</servlet-name>
        <servlet-class>Admin_Code.C_Delete_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Create_New_Language_Folder</servlet-name>
        <servlet-class>Admin_Code.C_Create_New_Language_Folder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Delete_File_In_Repository</servlet-name>
        <servlet-class>UserCode.U_C_Delete_File_In_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Delete_File_In_Repo</servlet-name>
        <servlet-class>Admin_Code.C_Delete_File_In_Repo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_Store_User_Comment</servlet-name>
        <servlet-class>Admin_Code.C_Store_User_Comment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_E_Checkfile</servlet-name>
        <servlet-class>User_Ebook.U_E_Checkfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_E_Copy_Content</servlet-name>
        <servlet-class>User_Ebook.U_E_Copy_Content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_E_Ebook_download</servlet-name>
        <servlet-class>User_Ebook.U_E_Ebook_download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Comp_Create_File</servlet-name>
        <servlet-class>User_Compiler.U_Comp_Create_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Comp_Compiler</servlet-name>
        <servlet-class>User_Compiler.U_Comp_Compiler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>User_Ebook.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Copy_Content_For_User_Language</servlet-name>
        <servlet-class>AdminEbook.Copy_Content_For_User_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_T_Check_File</servlet-name>
        <servlet-class>User_Tutorials.U_T_Check_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Copy_User_Language_Content</servlet-name>
        <servlet-class>Admin_Tuto.Copy_User_Language_Content</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_Q_Check_File</servlet-name>
        <servlet-class>User_Quiz.U_Q_Check_File</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Q_Copy_Content_For_User</servlet-name>
        <servlet-class>Admin_Quiz.Q_Copy_Content_For_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download_Admin_Code_By_User</servlet-name>
        <servlet-class>Admin_Code.Download_Admin_Code_By_User</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>V_Delete_Language</servlet-name>
        <servlet-class>AdminVideo.V_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_User_Email</servlet-name>
        <servlet-class>user_site_page.Check_User_Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generate_OTP</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Generate_OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Send_Mail_To_User_With_Opt</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Send_Mail_To_User_With_Opt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_Forgot_User_Email</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Check_Forgot_User_Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Store_OTP</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Store_OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Check_Entered_OTP</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Check_Entered_OTP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_User_Password</servlet-name>
        <servlet-class>Send_OTP_TO_Email.Update_User_Password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>U_C_Delete_Language</servlet-name>
        <servlet-class>UserCode.U_C_Delete_Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Choose_What_You_Update</servlet-name>
        <servlet-class>user_site_page.Choose_What_You_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_User_Data_When_Update</servlet-name>
        <servlet-class>user_site_page.Delete_User_Data_When_Update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rename_User_Repository</servlet-name>
        <servlet-class>user_site_page.Rename_User_Repository</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_User_Date</servlet-name>
        <servlet-class>user_site_page.Update_User_Date</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminlanguage</servlet-name>
        <servlet-class>Admin_site.Admin_Language</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlanguage</servlet-name>
        <url-pattern>/adminlanguage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminlanguagestore</servlet-name>
        <servlet-class>Admin_site.Admin_LanguageStore</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlanguagestore</servlet-name>
        <url-pattern>/adminlanguagestore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminvalidate</servlet-name>
        <servlet-class>Admin_site.AdminValidate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminvalidate</servlet-name>
        <url-pattern>/adminvalidate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>user_site_page.UserLoginPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userloginpage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>newuserstore</servlet-name>
        <servlet-class>user_site_page.store_user_data</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newuserstore</servlet-name>
        <url-pattern>/newuserstore</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userlogout</servlet-name>
        <servlet-class>user_site_page.UserLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userlogout</servlet-name>
        <url-pattern>/userlogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>Admin_site.AdminLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storelanguage</servlet-name>
        <servlet-class>AdminCode.Store_Language</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storelanguage</servlet-name>
        <url-pattern>/storelanguage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>profileupdate</servlet-name>
        <servlet-class>user_site_page.Update_User_Profile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>profileupdate</servlet-name>
        <url-pattern>/profileupdate</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storelanguageaquiz</servlet-name>
        <servlet-class>Admin_Quiz.Store_Languages_Quiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storelanguageaquiz</servlet-name>
        <url-pattern>/storelanguageaquiz</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storejavatopic</servlet-name>
        <servlet-class>Admin_Quiz.Store_Java_Topic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storejavatopic</servlet-name>
        <url-pattern>/storejavatopic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>checktable</servlet-name>
        <servlet-class>Admin_Quiz.Check_first_table</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>checktable</servlet-name>
        <url-pattern>/checktable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createtable</servlet-name>
        <servlet-class>Admin_Quiz.Create_table</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createtable</servlet-name>
        <url-pattern>/createtable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storequizquestion</servlet-name>
        <servlet-class>Admin_Quiz.Store_quiz_question</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storequizquestion</servlet-name>
        <url-pattern>/storequizquestion</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tutochecktableindatabase</servlet-name>
        <servlet-class>Admin_Tuto.T_Check_table_in_database</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tutochecktableindatabase</servlet-name>
        <url-pattern>/tutochecktableindatabase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storelanguageatuto</servlet-name>
        <servlet-class>Admin_Tuto.T_Store_Languages_Tuto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storelanguageatuto</servlet-name>
        <url-pattern>/storelanguageatuto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>storelanguagetopic</servlet-name>
        <servlet-class>Admin_Tuto.T_Store_Topic</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>storelanguagetopic</servlet-name>
        <url-pattern>/storelanguagetopic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>tutocreatetable</servlet-name>
        <servlet-class>Admin_Tuto.T_Create_table</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>tutocreatetable</servlet-name>
        <url-pattern>/tutocreatetable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storesubjectebook</servlet-name>
        <url-pattern>/storesubjectebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checktableebook</servlet-name>
        <url-pattern>/checktableebook</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>createtableebook</servlet-name>
        <servlet-class>AdminEbook.Ebook_Create_Table</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createtableebook</servlet-name>
        <url-pattern>/createtableebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>storebookdetails</servlet-name>
        <url-pattern>/storebookdetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileupload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\\Users\\Akshay Patidar\\CodeHub\\web\\Ebooks\
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>Store_Ebook_Pdf</servlet-name>
        <url-pattern>/Store_Ebook_Pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ebook_download</servlet-name>
        <url-pattern>/Ebook_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_New_Repository</servlet-name>
        <url-pattern>/Create_New_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store_New_Repository_File</servlet-name>
        <url-pattern>/Store_New_Repository_File</url-pattern>
    </servlet-mapping>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload-repository</param-name>
        <param-value>
         C:\\Users\\Akshay Patidar\\CodeHub\\web\\Ebooks\
      </param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>T_Create_New_File_For_Language</servlet-name>
        <url-pattern>/T_Create_New_File_For_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Copy_Content_To_New_File</servlet-name>
        <url-pattern>/T_Copy_Content_To_New_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Check_File_Avaliable</servlet-name>
        <url-pattern>/T_Check_File_Avaliable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_Repository_For_User</servlet-name>
        <url-pattern>/Create_Repository_For_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_File_In_Repository</servlet-name>
        <url-pattern>/Upload_File_In_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Upload_File_In_Repository</servlet-name>
        <url-pattern>/U_Upload_File_In_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Store_New_Language</servlet-name>
        <url-pattern>/U_Store_New_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Repository</servlet-name>
        <url-pattern>/Download_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Copy_Content</servlet-name>
        <url-pattern>/Q_Copy_Content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Create_Language_Folder</servlet-name>
        <url-pattern>/U_Create_Language_Folder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Download_Repository</servlet-name>
        <url-pattern>/U_Download_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>E_Copy_Content</servlet-name>
        <url-pattern>/E_Copy_Content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Admin_Source_Code</servlet-name>
        <url-pattern>/Delete_Admin_Source_Code</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Ebook</servlet-name>
        <url-pattern>/Delete_Ebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Ebook_Database_Info</servlet-name>
        <url-pattern>/Delete_Ebook_Database_Info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Delete_Tutorial</servlet-name>
        <url-pattern>/T_Delete_Tutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Delete_Subject_Topic</servlet-name>
        <url-pattern>/T_Delete_Subject_Topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Delete_Quiz</servlet-name>
        <url-pattern>/Q_Delete_Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Delete_All_Quiz</servlet-name>
        <url-pattern>/Q_Delete_All_Quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_Store_Language</servlet-name>
        <url-pattern>/V_Store_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_Create_Language_Folder</servlet-name>
        <url-pattern>/V_Create_Language_Folder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_Video_Upload</servlet-name>
        <url-pattern>/V_Video_Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store_Variable</servlet-name>
        <url-pattern>/Store_Variable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Store_New_Repository</servlet-name>
        <url-pattern>/U_C_Store_New_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Update_Tutorial</servlet-name>
        <url-pattern>/T_Update_Tutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>T_Delete_Language</servlet-name>
        <url-pattern>/T_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>E_Delete_Language</servlet-name>
        <url-pattern>/E_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Delete_Language</servlet-name>
        <url-pattern>/Q_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Delete_Subject_Topic</servlet-name>
        <url-pattern>/Q_Delete_Subject_Topic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Store_New_Language</servlet-name>
        <url-pattern>/U_C_Store_New_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Delete_Repository_File</servlet-name>
        <url-pattern>/U_C_Delete_Repository_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Delete_Repository</servlet-name>
        <url-pattern>/U_C_Delete_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store_New_Language</servlet-name>
        <url-pattern>/Store_New_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_Delete_Video</servlet-name>
        <url-pattern>/V_Delete_Video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Strore_Language</servlet-name>
        <url-pattern>/C_Strore_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Store_Repository</servlet-name>
        <url-pattern>/C_Store_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Delete_Language</servlet-name>
        <url-pattern>/C_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Delete_Repository</servlet-name>
        <url-pattern>/C_Delete_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Create_New_Language_Folder</servlet-name>
        <url-pattern>/C_Create_New_Language_Folder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Delete_File_In_Repository</servlet-name>
        <url-pattern>/U_C_Delete_File_In_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Delete_File_In_Repo</servlet-name>
        <url-pattern>/C_Delete_File_In_Repo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_Store_User_Comment</servlet-name>
        <url-pattern>/C_Store_User_Comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_E_Checkfile</servlet-name>
        <url-pattern>/U_E_Checkfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_E_Copy_Content</servlet-name>
        <url-pattern>/U_E_Copy_Content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_E_Ebook_download</servlet-name>
        <url-pattern>/U_E_Ebook_download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Comp_Create_File</servlet-name>
        <url-pattern>/U_Comp_Create_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Comp_Compiler</servlet-name>
        <url-pattern>/U_Comp_Compiler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Copy_Content_For_User_Language</servlet-name>
        <url-pattern>/Copy_Content_For_User_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_T_Check_File</servlet-name>
        <url-pattern>/U_T_Check_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Copy_User_Language_Content</servlet-name>
        <url-pattern>/Copy_User_Language_Content</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_Q_Check_File</servlet-name>
        <url-pattern>/U_Q_Check_File</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Q_Copy_Content_For_User</servlet-name>
        <url-pattern>/Q_Copy_Content_For_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download_Admin_Code_By_User</servlet-name>
        <url-pattern>/Download_Admin_Code_By_User</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>V_Delete_Language</servlet-name>
        <url-pattern>/V_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_User_Email</servlet-name>
        <url-pattern>/Check_User_Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generate_OTP</servlet-name>
        <url-pattern>/Generate_OTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Send_Mail_To_User_With_Opt</servlet-name>
        <url-pattern>/Send_Mail_To_User_With_Opt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Forgot_User_Email</servlet-name>
        <url-pattern>/Check_Forgot_User_Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Store_OTP</servlet-name>
        <url-pattern>/Store_OTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Check_Entered_OTP</servlet-name>
        <url-pattern>/Check_Entered_OTP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_User_Password</servlet-name>
        <url-pattern>/Update_User_Password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>U_C_Delete_Language</servlet-name>
        <url-pattern>/U_C_Delete_Language</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Choose_What_You_Update</servlet-name>
        <url-pattern>/Choose_What_You_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_User_Data_When_Update</servlet-name>
        <url-pattern>/Delete_User_Data_When_Update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rename_User_Repository</servlet-name>
        <url-pattern>/Rename_User_Repository</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_User_Date</servlet-name>
        <url-pattern>/Update_User_Date</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
